header {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

section {
  margin-left: 10px;
  padding-left: 5px;
}

footer {
  font-size: small;
  font-style: italic;
}
