body {
  font-family: Arial, sans-serif;
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

.menu {
  width: 80%;
  max-width: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0 0 10px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 0;
  color: darkslategray;
}

.established {
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}

hr {
  height: 3px;
  background-color: darkgray;
  border-color: black;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  color: darkgreen;
  margin-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.model,
.price {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.price {
  text-align: right;
  font-weight: bold;
  color: indianred;
}

.model {
  border-bottom: 1px dotted black;
  margin-right: 5px;
}

.bottom-line {
  margin-top: 25px;
}

footer p {
  font-size: 14px;
  margin-bottom: 5px;
}
.address {
  font-size: 12px;
}
